:root {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .625rem;
}

header {
  height: 4rem;
  background: purple;
  padding-top: 1rem;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

section {
  display: flex;
  /* direction of main and cross axis */
  flex-direction: row;  
  flex-wrap:nowrap;
  /* flex-flow:row wrap; */
}

article {
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  background-color: aqua;
}

article > h2 {
  color: black;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

article {
  /* The initial size of the flex element */
  flex-basis: 12.5rem;
  /* How much space a flex element will take in the container as it grows or shrinks */
  flex-grow: 1;
  flex-shrink: 1;
}

#article_3 {
  display: flex;
  flex-grow: 3;
  flex-flow: column;
}

#article_3 > div:first-child {
  display: flex;
  flex-basis: 6.25rem;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

button {
  flex-basis: auto;
  flex-grow: 1;
  margin: .31rem;
  font-size: 1.2rem;
  line-height: 1.5;
}